*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# ROM файлы (не коммитить!)
*.bin
*.md
*.gen
*.smd
*.rom
*.iso
*.cue
*.32x
app/src/main/assets/dune2.bin
app/src/main/assets/Dune*.bin

# Android outputs
*.apk
*.aab
*.jks
*.keystore

# Allow Genesis Plus GX

# Allow genesis-plus-gx
!app/src/main/cpp/genesis-plus-gx/
!app/src/main/cpp/genesis-plus-gx/**
